



 .titleItem{
    flex: 1 1 50px;
    padding-right: 10px;
    
    font-weight:900;
    font-size: 30px;
 }
 

 .conNav{
    flex: 1 1 50px;
    margin:0px;
    padding:0px;
  
 }
 .listNav{
    display: flex;
    flex-direction: row;
    flex: 1 1 50px;
    list-style: none;
    
    
    
}

.listNav li{
   padding: 2px;
}
.listNav li:first-child{
  background: var(--primary-color);
}
 .listNav li:nth-child(2){
    background: var(--secondary-color);
  }

  
.listNav li:nth-child(3){
    background: var(--tertiary-color);
  }
  .listNav li:nth-child(4){
    background: var(--quaternary-color);
  }


 .itemList{
    padding: 0px;
    padding-bottom:5px ;
    flex: 1 1 50px;
    margin:0 2px;
    text-align: center;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
 
   }
   .itemList a{
      color:white; 
      font-weight: 900;
   }
   .itemList a:hover{
      color:black;
      font-weight: 900;
   }
   .itemList:active{
      box-shadow:  inset -1px -1px 20px 1px  rgba(0, 0, 0, 0.6);
      
   }
   
   

 .containerHeader{
   display: flex;
   flex-flow: row wrap;
}

.headerDiv{

   display: absolute;

   margin-top:0;
   margin-left: 5px;
   margin-right: 5px;
   width: 100%;

}



@media all and (max-width: 800px){


   .containerHeader{
       flex-flow: column wrap;
     
       
   }

   .itemList{
  
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      
   
     }

     

}




 