
.contentMain{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}



@media all and (max-width: 1105px){

    .contentMain{
        display:flex;
        flex-flow: column-reverse wrap;
        justify-content: flex-start;
        
    }   
}
