
.skill{
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;  

    /* background: var(--primary-color); */
   text-align: right;
   align-content: flex-end;
   justify-content: flex-end;
    padding: 2px;
    margin: auto;
    align-self: flex-start;
    border-radius: 20px;
    padding: 0px;


}



    

.skillIcon{
    border-radius: 20px;
    margin: 0px;
    display: block;
    width: 50px;
    height: 50px;
    box-shadow: 0 10px 25px rgb(0,0,0,.3);
   
}

.contentSkills{
    display:flex;
    flex-flow: row wrap;
    margin-top: 10px;
    padding-left: 0px; 
    height: 80px;
    margin-right: 0px;
    align-content: flex-start;
    
}


