.contentInfo p{
    margin-left: 10px;
  }
  .projectsNav{
    box-shadow:   2px 2px 20px 1px  rgba(0, 0, 0, 0.6);       
  
    background: var(--tertiary-color);
    border-radius: 10px;
    padding:  0 5px;
  }
  .projectsNav:active{
    color:black;

  }

  .projectsNav:hover{
    opacity: 0.8;
  }
  .contentInfo{
   
    font-size: 50px;
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    color: var(--quaternary-color2);
    font-variant: initial;
      /* -webkit-text-stroke: 1px var(--quaternary-color);   */
    align-items:left;
  
    flex: 1 1 50px;
    text-align: left;
 
  } 



  

      
.figureIcons {
  
  height:30px; 

  width: auto; 
  margin-top: 30px;
  

}



.figureList {
  
  display: flex;
  flex-direction: row;
  list-style:none;

}

.figureList li {
  height: 60px;
  margin-right: 100px;
  margin-left: 0px;
  transform: scale(1.5);
  
}
.LinkA:hover{
  cursor: pointer;
  opacity: 0.8;
}


.linkA{

  box-shadow: 5px 2px 20px 1px black;
}



@media all and (max-width: 1032px){

  .contentInfo{
      font-size: 35px;
  }

  
.figureList li {
  height: 60px;
  
  transform: scale(1);
  
}

}


  @media all and (max-width: 804px){
   
    .contentInfo{
      display: block;
        font-size: 30px;
        padding: 0px;
        height: 300px;
    }
    .figureList li {
      
      margin-right: 20px;
      margin-left: 50px;

     
      
    }

   .figureIcons{
    margin-right: 20px;
    margin-left: 0px;
     margin-bottom: 20px;
   }
  }