



  

      
.content {
  
  height:100px; 

  width: auto; 
  margin-top: 5px;

  

}
.content p{

  text-align: center;
  margin: auto;
  font-size: 30px;

}

.imgLogo{
 
  margin-bottom: 0px;
  height: 50px;
  width: auto;

}

.figureList {
  
  display: flex;
  flex-direction: row;
  list-style:none;
  justify-content: center;
  width: auto;
  

}

.figureList li {
  height: 100%;
  margin-right: 20px;
  margin-left: 20px;
}
.LinkA:hover{
  cursor: pointer;
  opacity: 0.8;
}


.LinkA{
 
  display:inline-block;
  margin: 0;
}



@media all and (min-width: 1700px){
     
  .content {
  
    height:80px; 
  
    width: auto; 
    margin-top: 5px;
    
  
  }
  
.imgLogo{
 
  height: 80px;
  width: 80px;
}
  .imgLogo{
   
    margin-bottom: 0px;
  }
  
  .figureList {
    
    display: flex;
    flex-direction: row;
    list-style:none;
    justify-content: center;
    width: auto;
  
  }
  

}
@media all and (max-width: 1032px){


  
  
.figureList li {
  height: 60px;
  
  
  
}

}


  @media all and (max-width: 804px){
 
    .figureList{
      width: 100%;
    }
    .figureList li {
      
      margin: 0 15px;

     
      
    }

   .content{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
   }


  }