.footerContent{

    width: 100%;
    background: var(--primary-color);
    padding: 10px;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
    color:white ;
    margin-bottom: 0;
    margin-top: 50px;
}