
    .mainContent{
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }
    .textItem{
        font-size: 30px;
        grid-column: 2 / span 7 ;
        grid-row: 1 /span 3;
        text-align: center;
    }

    .textItem p{
        text-align: center;
        padding: 0px;
    }
    
    .imgAbout{
        grid-column: 9 / span 5 ;
        grid-row: 1 /span 6;
    }
    @media all and (max-width: 1260px){

        .textItem{
            font-size: 20px;
        }
    }
    @media all and (max-width: 700px){

        .imgAbout{
            grid-column: 9 / span 3 ;
            grid-row: 1 /span 2;
        }
        .textItem{
            font-size: 16px;
        }
    }

    @media all and (max-width: 600px){
       
        .textItem{
            font-size: smaller;
        }
        .textItem {
            margin: 0px;
            text-align: start;
            grid-column: 2 / span 9 ;
        }
        .imgAbout{
            grid-column: 2 / span 9 ;
            grid-row: 4 /span 5;
        }
    }