.contentFigure{
    align-items: center;
    flex: 1 1 50px;
    z-index:7;
  }


  

  .figureCircle{
    width: 500px;
    height: 500px;
    background: var( --tertiary-color);
    padding: 10px;
    z-index:5;
    border-radius: 50%;
    

  }

    

  .figureCircle2{
    width: 450px;
    height: 450px;
    background: var(--primary-color);
    margin:auto;  
    z-index:6;
    border-radius: 50%;
    text-align: center;

  }
  .contentImage{

    transform: skew(-20deg);
    text-align: center;
    font-size: 300px;
    font-weight: 900;
    margin:auto;
    
    
  }


  .figureIcons {
    margin-top: 170px;
    
   
  } 


 




 
  @media all and (max-width: 1140px){

    .figureCircle2{
      width: 350px;
      height: 350px;
     
    }
    .figureCircle{
      width: 400px;
      height: 400px;
      
    
    }
 
    .contentImage{

      
      
      font-size: 250px;
   
      
    }
   
     .figureIcons {
      margin-top: 170px;
      margin-left:0px;
     
    } 

 


  }
 

  @media all and (max-width: 935px){
    .figureCircle2{
      width: 220px;
      height: 220px;
     
    }
    .figureCircle{
      width: 250px;
      height: 250px;
      
    
    }
    .contentImage{

   
      font-size: 150px;
     
      
    }
  }
  @media all and (max-width: 860px){

    .figureCircle{
     margin-top: 10px;
      
    
    }
  
    .figureList li {
      
      
      margin: 0 5px;
    }

    .contentFigure{
      height: 200px;
      width: 370px;
      margin: 0px 0px
    }

    .figureIcons {
      margin-top: 220px;
      margin-left:2px;
     
    } 

    
    .figureCircle2{
      width: 290px;
      height: 290px;
     
    }
    .figureCircle{
      width: 310px;
      height: 310px;
      
    
    }
    
    .contentImage{

      
      
      font-size: 200px;
   
      
    }

  }
  