.contentFigure{
    align-items: center;
    flex: 1 1 50px;
    z-index:7;
  }

  .contentImage{
 


  }
  

  

  .figureCircle{
    width: 500px;
    height: 500px;
    background: #ff5733;
    position: absolute;
    z-index:6;
    border-radius: 50%;
    transform: skew(-28deg);

  }
  .figureCircle2{
    width: 500px;
    height: 500px;
    background: #ff5733;
    position: absolute;   
    z-index:5;
    border-radius: 50%;
    transform: skew(28deg);

  }
 



    
.figureIcons {
    margin-top: 300px;
    margin-left:10px;
    height:30px; 
    width: 80px; 
    z-index:20;
  }


  
  .figureList {
    
    display: flex;
    flex-direction: row;
    margin: auto;
    list-style:none;
  
  }
  
  .figureList li {
    height: 60px;

    margin: 0 20px;
  }
  .LinkA:hover{
    
    opacity: 0.8;
  }
  
  .linkA:active{
    
  }
  .linkA{

    box-shadow: 5px 2px 20px 1px black;
  }
 
  @media all and (max-width: 1140px){

    .figureCircle2{
      width: 300px;
      height: 300px;
     
    }
    .figureCircle{
      width: 300px;
      height: 300px;
    
    }
 

   
     .figureIcons {
      margin-top: 170px;
      margin-left:0px;
     
    } 

    .figureList li {
      height: 60px;
  
      margin: 0 10px;
    }


  }
  @media all and (max-width: 803px){

   
  
    .figureList li {
      
      
      margin: 0 5px;
    }

    .contentFigure{
      height: 200px;
      width: 370px;
    }

    .figureIcons {
      margin-top: 220px;
      margin-left:2px;
     
    } 


  }
  