
  

  
  .ImgSvg{
   width: 100%;
  }

    

 

  .contentImages{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    z-index:5;
    flex: 1 1 100px;
    
  }




 




 
  @media all and (max-width: 1140px){

  
    .contentImage{

      
      
      font-size: 250px;
   
      
    }
   
   

 


  }
 

  @media all and (max-width: 960px){
   
    .contentImage{

   
      font-size: 150px;
     
      
    }

    .contentImages{
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
    }

   
 

  
    
   

    .ImgSvg{
      height: auto;
      width: 75%;
    }
    .ImgSvg{
      margin:auto;
    }
  }
  @media all and (max-width: 890px){

 
  
    .contentImages{
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
    }

   
 

  
    
   

    .ImgSvg{
      height: auto;
      width: 75%;
    }

  }
  