html,

*{
  margin: 0;
  padding: 0 ;
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

/* body{
  background-image: url("/wareBack.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}                         */
a{
  text-decoration-line: none;
  margin:0px;
  color: white;

}


home-main div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}


button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index:10;

}
header{

  height:80px;
  background:transparent;

}


@media all and (max-width: 890px){

  
  home-main  div{
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding-bottom:10px;
      
    }



}
