html,

*{
  margin: 0;
  padding: 0 1px;
  /* background: rgb(7, 128, 241) ; */
  font-family: 'Ubuntu', sans-serif;
}





a{
  text-decoration-line: none;
  margin:0px;
  color: white;

}
main div{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
 
}























@media all and (max-width: 800px){
 
  
  main div{
      justify-content: flex-start;
      flex-direction: column;
      height: 100%;
      padding-bottom:10px;
     
  }



}
