@import 'swiper/swiper.scss';
// @import '~react-slidy/lib/index';





.swiper-slide {
 
  

  
 
  
  @media (min-width: 768px) {
    width: 300px;
    
  }
}

.swiper-container {
 
}


.swiper-slide {
  transform: scale(.94);
  transition: transform .25s;
  margin-bottom: 30px;
  margin-top: 30px;
}





