html,

*{
  margin: 0;
  padding: 0 ;
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

/* body{
  background-image: url("/wareBack.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}                         */
a{
  text-decoration-line: none;
  margin:0px;
  color: white;

}


home-main div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}



header{

  height:80px;
  background:transparent;

}


@media all and (max-width: 890px){

  
  home-main  div{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        padding-bottom:10px;
      
    }



}
